*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
}

/* Global */

body{
    font-family: "Merriweather", sans-serif;
    background-color: #ddf5fa;

}

.button__primary{
    background-color: #ff512f;
    
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;

}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__brand{
    width: 100px;
}

.navbar__logo{
    width: 100%;
}


.nav__item{
    
    background-color: #ff512f;
    
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    
}

.hero__coontainer{
    width: 100%
}

.hero__image__container{
    width:100%
}

.hero__image{
    width:100%
}

.hero__text {
    font-size: 30px;
    color: #1d3557;
    margin: 10px 0px;

}

.food__menu__card {
    width: 100%;
}

.food__image {
    width: 100%;
}

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand{
        width: 150px;
    }
    

    .button__primary{
        padding: 13px 20px;
        font-size: 20px;
    }


    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 10px;
    }


}


@media (min-width: 1020px){

    .container {
        max-width: 1020px;
    }

    
    

    .hero__text{
        font-size: 40px;
    }

    

}
@media (min-width: 1400px){
    .container{
        max-width: 1250px;
    }
}